@import '_bootstrap.scss';
@import 'animate.min.scss';
@import 'fonts.scss';
@import 'fontawesome/font-awesome.scss';

$black: #000000;
$white: #ffffff;
$grey: #dcdcdc;
/* Fonts */
$nikefont:  TradeGothicforCnd18, sans-serif;
$nikefontBold: TradeGothicBldCnd20, sans-serif;
$nikefontLight: TradeGothicforNike365-Light, sans-serif;


/* Custom CSS */
body{
    background-color: $white;
    font-family: $nikefont;
    color: $white;
    .home, .intro, .index{
        background-color: $black;
        max-width: 3840px;
        width: 100%;
        min-height: 1912px;
        height: auto;
        max-height: 2160px;
        h1{
            color: $white;
            font-family: $nikefontBold;
            font-size: 36em;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 100%;
            margin-top: 20%;
            // vertical-align: middle;

        }
    }
    .index{
        background: $white;
        h1{
            color: $black;
            text-align: center;
            font-size: 12em;
            margin-top: 0px;
            padding-top: 50px;
            padding-bottom: 0px;
            line-height: 5rem;
        }
        .menu-silos{
            max-width: 3840px;
            width: 100%;
            max-height: 1322px;
            height: 100%;
            padding: 0px;
            margin: 0px;
            background-color: $grey;
            span.bajada{
                color: $black;
                font-size: 3.5rem;
                text-align: right;
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 2rem;
            }
            .box-model{
                display: flex;
                justify-content: space-around;
            }
            .texto-model{
                display: flex;
                justify-content: space-around;
                background-color: $white;
                margin-top: 13rem;
                padding-top: 100px;
                h2{
                    font-size: 5em;
                    text-align: center;
                    text-transform: uppercase;
                    color: $black;
                    font-weight: bolder;
                }
                span{
                    color: $black;
                    font-size: 3em;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    .menu-global{
        background-color: $white;
        .prev, .cerrar, .next{
            text-align: center;
            .fa{
                font-size: 24em;
                padding: 41% 0px;
            }
        }
    }
    .mercurial, .hypervenom, .magista, .tiempo{
        background: orange;
        max-width: 3840px;
        width: 100%;
        max-height: 1080px;
        height: 100%;
        .image-model{
            display: flex;
            justify-content: center;
            height: 100%;
        }
        h1{
            color: $black;
            text-align: center;
            font-size: 12em;
            margin-top: 0px;
            padding-top: 50px;
            padding-bottom: 0px;
            line-height: 5rem;
        }
    }
}