@import '_bootstrap.scss';
@import 'animate.min.scss';
@import 'fonts.scss';
@import 'ionicons/ionicons.scss';
@import 'animaciones.scss';

$black: #000000;
$white: #ffffff;
$grey: #dcdcdc;
$redfire: #BF071C;
$verdenike: #AEFF00;
/* Fonts */
$nikefont:  TradeGothicforCnd18, sans-serif;
$nikefontBold: TradeGothicBldCnd20, sans-serif;
$nikefontLight: TradeGothicforNike365-Light, sans-serif;


/* Custom CSS */
body{
    background-color: $black;
    font-family: $nikefont;
    color: $white;
    .no-padding{
        padding: 0px;
    }
    .home, .intro, .index, .selecc-pasto{
        background-color: $black;
        max-width: 2048px;
        width: 100%;
        min-height: 576px;
        height: auto;
        max-height: 576px;
        h1{
            color: $white;
            font-family: $nikefontBold;
            font-size: 15rem;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 100%;
            margin-top: 10%;
            // vertical-align: middle;
        }
    }
    .intro{
        .btn-intro{
            width: 100%;
            float: left;
            video{
                width: 100%;
            }
        }
    }
    .selecc-pasto{
        padding-top: 5em;
        .pasto-sintetico{
            background-image: url('../images/bg-pasto-sintetico.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 330px;
        }
        .pasto-natural{
            background-image: url('../images/bg-pasto-natural.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 330px;
        }
        h1{
            font-size: 7rem;
            padding-bottom: 0px;
            margin-top: 15%;
        }
    }
    .index{
        background: $white;
        min-height: 576px;
        h1{
            color: $black;
            text-align: center;
            font-size: 12em;
            margin-top: 0px;
            padding-top: 50px;
            padding-bottom: 0px;
            line-height: 5rem;
        }
        .menu-silos{
            max-width: 2048px;
            width: 100%;
            // max-height: 800px;
            height: 100%;
            padding: 0px;
            margin: 0px;
            background-image: url('../images/bg-nikehome.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0% 131%;
            // background-color: $grey;
            span.bajada{
                color: $black;
                font-size: 3.5rem;
                text-align: right;
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 2rem;
            }
            .box-model{
                display: flex;
                justify-content: space-around;
                margin-top: 0rem;
                .model{
                    padding: 0px;
                }
                .btn-hypervenom{
                    animation-delay: 0.5s;
                }
                .btn-magista{
                    animation-delay: 1s;
                }
                .btn-tiempo{
                    animation-delay: 1.5s;
                }
            }
            .texto-model{
                display: flex;
                justify-content: space-around;
                background-color: $white;
                margin-top: 2rem;
                // padding-top: 0px;
                h2{
                    font-size: 3em;
                    text-align: center;
                    text-transform: uppercase;
                    color: $black;
                    font-weight: bolder;
                }
                span{
                    color: $black;
                    font-size: 2em;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    .menu-global{
        background-color: $white;
        height: 576px;
        // position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding-top: 50px;
        .prev, .cerrar, .next{
            text-align: center;
            i{
                font-size: 24em;
                padding: 41% 0px;
            }
        }
    }
    .mercurial, .hypervenom, .magista, .tiempo{
        background: $redfire;
        max-width: 2048px;
        width: 100%;
        max-height: 1090px;
        min-height: 576px;
        height: 100%;
        padding-top: 40px;
        padding-bottom: 1rem;
        .image-model{
            display: flex;
            justify-content: center;
            height: 100%;
        }
        .logo{
            margin-top: 50px;
            margin-bottom: 50px;
            .logo-mercurial{
                animation-delay: 0.8s;
            }
        }
        h1{
            color: $black;
            text-align: center;
            font-size: 12em;
            margin-top: 0px;
            padding-top: 50px;
            padding-bottom: 0px;
            line-height: 5rem;
        }
    }
    .mercurial-player{
        max-width: 2048px;
        width: 100%;
        background-image: url('../images/mercurial-jugador.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 2rem;
        padding-bottom: 1rem;
        max-height: 576px;
        min-height: 576px;
        .logo-mercurial-player{
            margin: 3rem 0px 0px 0px;
        }
        h3{
            font-family: $nikefontBold;
            font-size: 4em;
            text-transform: uppercase;
            color: $black;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        p{
            color: $black;
            font-size: 3em;
            margin-top: 1rem;
            line-height: 3rem;
        }
        span{
            color: $black;
            font-size: 2em;
        }
    }
    .mercurial-spec{
        background-image: url('../images/mercurial-spec.jpg');
        background-size: 73%;
        background-position: 50% -14%;
        background-repeat: no-repeat;
        max-height: 576px;
        height: 100%;
        max-width: 2048px;
        background-color: #BF071C;
        min-height: 576px;
        .image-model{
            display: flex;
            justify-content: center;
            height: 100%;
        }
        .logo-spec{
            margin-top: 2rem;
            margin-bottom: 0px;
            // .logo-mercurial{
            //     animation-delay: 0.8s;
            // }
        }
        h1{
            font-size: 6rem;
            color: $black;
            text-align: center;
            font-family: $nikefontBold;
        }
        h3{
            font-size: 4rem;
            margin-top: 6rem;
            color: $black;
            font-family: $nikefontBold;
            margin-bottom: 16rem;
        }
    }
    .mercurial-video{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        .mercurial-logo-video{
            margin-bottom: 3rem;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
        p{
            font-size: 4rem;
            color: $verdenike;
        }
        h3{
            font-size: 6rem;
            text-transform: uppercase;
            // margin-top: 5rem;
        }
    }
    .mercurial-timer{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
    }
    h1{
        font-size: 7rem;
        text-transform: uppercase;
        // margin-top: 10rem;
    }
    .mercurial-final{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        background-image: url('../images/mercurial-jugador.jpg');
        background-repeat: no-repeat;
        padding: 4rem 0px;
        min-height: 576px;
        .zapatilla-final{
            margin-bottom: 2rem;
        }
    }
    /* HYPERVENOM */
    .hypervenom-player{
        max-width: 2048px;
        width: 100%;
        background-image: url('../images/hypervenom-jugador.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 2rem;
        padding-bottom: 1rem;
        min-height: 576px;
        .logo-mercurial-player{
            margin: 3rem 0px 0px 0px;
        }
        h3{
            font-family: $nikefontBold;
            font-size: 4em;
            text-transform: uppercase;
            color: $black;
            margin-top: 3rem;
        }
        p{
            color: $black;
            font-size: 2.5em;
            margin-top: 3rem;
            line-height: 3rem;
        }
        span{
            color: $black;
            font-size: 1.5em;
        }
    }
    .hypervenom-spec{
        background-image: url('../images/hypervenom-spec.jpg');
        background-size: 73%;
        background-position: 50% -14%;
        background-repeat: no-repeat;
        max-height: 576px;
        height: 100%;
        max-width: 2048px;
        min-height: 576px;
        background-color: #BF071C;
        .image-model{
            display: flex;
            justify-content: center;
            height: 100%;
        }
        .logo-spec{
            margin-top: 40px;
            margin-bottom: 0px;
            // .logo-mercurial{
            //     animation-delay: 0.8s;
            // }
        }
        h1{
            font-size: 6rem;
            color: $black;
            text-align: center;
            font-family: $nikefontBold;
        }
        h3{
            font-size: 4rem;
            margin-top: 5rem;
            color: $black;
            font-family: $nikefontBold;
            margin-bottom: 18rem;
        }
        .bajada-spec-left, .bajada-spec-right{
            margin-bottom: 0px;
        }
    }
    .hypervenom-video{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        .hypervenom-logo-video{
            margin-bottom: 3rem;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
        p{
            font-size: 4rem;
            color: $verdenike;
        }
        h3{
            font-size: 6rem;
            text-transform: uppercase;
            // margin-top: 5rem;
        }
    }
    .hypervenom-timer{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
    }
    .countdown{
        margin-top: 13rem;
    }
    .hypervenom-final{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        background-image: url('../images/hypervenom-jugador.jpg');
        background-repeat: no-repeat;
        padding: 4rem 0px;
        min-height: 576px;
        background-size: cover;
        .zapatilla-final{
            margin-bottom: 2rem;
        }
    }
    /* MAGISTA */
    .magista-player{
        max-width: 2048px;
        width: 100%;
        background-image: url('../images/magista-jugador.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 1rem;
        min-height: 576px;
        height: 576px;
        .logo-magista-player{
            margin: 1rem 0px 0px 0px;
        }
        h3{
            font-family: $nikefontBold;
            font-size: 4em;
            text-transform: uppercase;
            color: $black;
            margin-top: 3rem;
        }
        p{
            color: $black;
            font-size: 2.5em;
            margin-top: 1rem;
            line-height: 3rem;
        }
        span{
            color: $black;
            font-size: 1.5em;
        }
    }
    .magista-spec{
        background-image: url('../images/magista-spec.jpg');
        background-size: 73%;
        background-position: 50% -14%;
        background-repeat: no-repeat;
        max-height: 576px;
        height: 100%;
        max-width: 2048px;
        min-height: 576px;
        background-color: #BF071C;
        .image-model{
            display: flex;
            justify-content: center;
            height: 100%;
        }
        .logo-spec{
            margin-top: 40px;
            margin-bottom: 0px;
            // .logo-mercurial{
            //     animation-delay: 0.8s;
            // }
        }
        h1{
            font-size: 6rem;
            color: $black;
            text-align: center;
            font-family: $nikefontBold;
        }
        h3{
            font-size: 4rem;
            margin-top: 5rem;
            color: $black;
            font-family: $nikefontBold;
            // margin-bottom: 18rem;
        }
        .bajada-spec-left, .bajada-spec-right{
            margin-bottom: 0px;
            margin-top: 10rem;
        }
    }
    .magista-video{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        .magista-logo-video{
            margin-bottom: 3rem;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
        p{
            font-size: 4rem;
            color: $verdenike;
        }
        h3{
            font-size: 6rem;
            text-transform: uppercase;
            // margin-top: 5rem;
        }
    }
    .magista-timer{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
    }
    .countdown{
        margin-top: 13rem;
    }
    .magista-final{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        background-image: url('../images/magista-jugador.jpg');
        background-repeat: no-repeat;
        padding: 4rem 0px;
        min-height: 576px;
        background-size: cover;
        .zapatilla-final{
            margin-bottom: 2rem;
        }
    }
    /* TIEMPO */
    .tiempo-player{
        max-width: 2048px;
        width: 100%;
        background-image: url('../images/tiempo-jugador.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 1rem;
        min-height: 576px;
        height: 576px;
        .logo-tiempo-player{
            margin: 1rem 0px 0px 0px;
        }
        h3{
            font-family: $nikefontBold;
            font-size: 4em;
            text-transform: uppercase;
            color: $black;
            margin-top: 3rem;
        }
        p{
            color: $black;
            font-size: 2.5em;
            margin-top: 1rem;
            line-height: 3rem;
        }
        span{
            color: $black;
            font-size: 1.5em;
        }
    }
    .tiempo-spec{
        background-image: url('../images/tiempo-spec.jpg');
        background-size: 73%;
        background-position: 50% -14%;
        background-repeat: no-repeat;
        max-height: 576px;
        height: 100%;
        max-width: 2048px;
        min-height: 576px;
        background-color: #BF071C;
        .image-model{
            display: flex;
            justify-content: center;
            height: 100%;
        }
        .logo-spec{
            margin-top: 40px;
            margin-bottom: 0px;
            // .logo-mercurial{
            //     animation-delay: 0.8s;
            // }
        }
        h1{
            font-size: 6rem;
            color: $black;
            text-align: center;
            font-family: $nikefontBold;
        }
        h3{
            font-size: 4rem;
            margin-top: 5rem;
            color: $black;
            font-family: $nikefontBold;
            // margin-bottom: 18rem;
        }
        .bajada-spec-left, .bajada-spec-right{
            margin-bottom: 0px;
            margin-top: 21rem;
        }
    }
    .tiempo-video{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        .tiempo-logo-video{
            margin-bottom: 3rem;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
        p{
            font-size: 4rem;
            color: $verdenike;
        }
        h3{
            font-size: 6rem;
            text-transform: uppercase;
            // margin-top: 5rem;
        }
    }
    .tiempo-timer{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        min-height: 576px;
        video{
            width: 100%;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;
            // margin-top: 10rem;
        }
    }
    .countdown{
        margin-top: 13rem;
    }
    .tiempo-final{
        max-width: 2048px;
        max-height: 576px;
        height: 100%;
        background-image: url('../images/tiempo-jugador.jpg');
        background-repeat: no-repeat;
        padding: 4rem 0px;
        min-height: 576px;
        background-size: cover;
        .zapatilla-final{
            margin-bottom: 2rem;
        }
    }
}